[Unit]
Description=Run backup everyday at 4 PM

[Timer]
OnCalendar=*-*-* 22:00:00
Persistent=true
Unit=copydotfiles.service

[Install]
WantedBy=timers.target
