layout {

    focus-ring {
        active-color   "#adcae2"
        inactive-color "#121315"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#adcae2"
        inactive-color "#121315"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#adcae2"
        inactive-color "#466277"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#adcae280"
    }
}

recent-windows {
    highlight {
        active-color "#adcae2"
        urgent-color "#ffb4ab"
    }
}
